.contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(28, 36, 37, 0.9);
    border-radius: 5px;
    border: black 2px solid;
}

.contact-form label {
    padding-bottom: .5rem;
    padding-top: 1rem;
}

.submit-btn {
  margin-top: 1rem;
  background-color: #fac863;
  width: 100px;
  border-radius: 5px;
  border: none;;
}

@media screen and (max-width: 768px) {
    .contact-form {
        width: 75%;
    }

    .contact-form input, .contact-form textarea {
        width: 100%;
    }
}
    
