nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2425;
  height: 4rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

li {
  list-style: none;
  padding: 0.5rem;
}

a {
  display: inline-block;
  margin: 0.5em, 1em;
  text-decoration: none;
  color: #fff;
}

a {
  background: linear-gradient(to right, rgb(53, 117, 236), rgb(0, 0, 0)),
    linear-gradient(
      to right,
      rgba(250, 128, 114, 1),
      rgba(250, 128, 114, 1),
      rgb(0, 16, 32)
    );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 2px, 100% 2px;
}

a:active {
  background-size: 0 2px, 100% 2px;
}

.current-page {
  background: linear-gradient(
    to right,
    rgba(250, 128, 114, 1),
    rgba(250, 128, 114, 1),
    rgb(0, 16, 32)
  );
}

@media screen and (max-width: 768px) {

}
