:root {
  --spartan: 'League Spartan', sans-serif;
  --nunito: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--spartan)
}

p, ul, ol, li, button  {
  font-family: var(--nunito)
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
}


