:root {
  --spartan: 'League Spartan', sans-serif;
  --nunito: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--spartan)
}

p, ul, ol, li, button  {
  font-family: var(--nunito)
}

body {
  padding: 0;
  margin: 0;
}


